
@font-face {
	font-family: 'Open Sans';
	src: url(OpenSans-Regular.woff2);
}

body {
    font-family: 'Open Sans';
	background-color: #ffcba4;
}

#urlBar, #urlInput {
	box-sizing: border-box;
	width: 100%;
}