
@font-face {
	font-family: 'Open Sans';
	src: url(OpenSans-Regular.woff2);
}

/* Set Open Sans as font for every element on the page */

body, input {
    font-family: 'Open Sans', sans-serif;
}

body, html {
	padding: 0;
	margin: 0;
}

#urlBar, #urlInput {
	box-sizing: border-box;
	width: 100%;
	border: none;
	font-size: 1rem;
}
#urlBar {
	display: flex;
}
#urlBar * {
	margin: 0.3em;
}
#urlInput {
	padding: 0.4em;
	outline: none;
	background-color: #efefef;
	border-radius: 2em;
}


#container {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

webview {
	height: 100%;
	width: 100%;
}