@font-face {
	font-family: 'Open Sans';
	src: url(res/OpenSans-Regular.woff2);
}

/* Set Open Sans as font for every element on the page */
body, input {
    font-family: 'Open Sans', sans-serif;
}

/* Remove padding and margin from edges of window */
body, html {
	padding: 0;
	margin: 0;
}

/* Style URL bar and input */
#urlBar, #urlInput {
	box-sizing: border-box;
	width: 100%;
	border: none;
	font-size: 0.94rem;
	text-align: center;
}
#urlBar {
	display: flex;
	background-color: #fafafa;
	align-items: center;
}
#urlBar * {
	margin: 0.3em;
}
#urlInput {
	padding: 0.2em 0.3em 0.2em 0.3em;
	outline: none;
	background-color: #e5e5e5;
	border: 1px solid #e5e5e5;
	border-radius: 2em;
	height: 70%;
}
#urlInput:focus {
	border: 1px solid #fcaf2a;
}

/* Minor modifications for #container (contains entire browser window) */
#container {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

/*.chrome-tabs {
	display: initial !important;
	height: auto !important;
	padding: auto !important;
	width: auto !important;
}*/

/* Ensure page content takes entire remaining space */
webview {
	height: 100%;
	width: 100%;
}

img {
	height: 2em;
}

.browserBarButton {
	transition: background-color .2s;
	border-radius: 2em;
	padding: 0.1em;
}
.browserBarButton:hover {
	background-color: #e5e5e5;
}